# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
dfinbench_env/

# IDEs
.vscode/
.idea/

# Project Specific

checkpoints/            # Skip weight files when pushing code
*.log                   # Skip log files
*.pth                   # Skip model weight files
*.weights
*.ipynb_checkpoints/

# OS specific
.DS_Store