# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
dfinbench_env/

# IDEs
.vscode/
.idea/

# Project Specific

checkpoints/
*.log
!benchmark_results.log

# OS specific
.DS_Store
