# Core ML & Data
torch
torchvision
torchaudio
pandas
numpy
scikit-learn
matplotlib
tqdm
yfinance

# Foundation Models Core
transformers==4.40.2
huggingface_hub
einops
local-attention
reformer-pytorch

# Specialized Model Libraries
chronos-forecasting
timesfm